Term Frequency - frequency of a term (n-gram) in a document.

Inverse Document Frequency - logarithm of the number of documents where the term appears divided by the total number of documents.

TF-IDF - value using a term, a document, and a corpus. 

*  High -> high term frequency in the given document and the low document frequency of the term in the whole collection of documents

In [0]:
#import tokenizer and necessary library
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [0]:
#sample phrases
texts = ["good movie", "not a good movie", "did not like", "i like it", "good one"]

In [3]:
# use built-in TfidfVectorizer tokenizer
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(features.todense(), columns=tfidf.get_feature_names())

   good movie      like     movie       not
0    0.707107  0.000000  0.707107  0.000000
1    0.577350  0.000000  0.577350  0.577350
2    0.000000  0.707107  0.000000  0.707107
3    0.000000  1.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000